In [ ]:
!pip install -r requirements.txt

In [23]:
from imports import *
from clean_data import clean_data

In [24]:
with open('best_xgb_model.pkl', 'rb') as f:
    xgb = pickle.load(f)

In [25]:
def model_inference(data, model_path = 'best_xgb_model.pkl'):
    
    with open('best_xgb_model.pkl', 'rb') as f:
        xgb = pickle.load(f)
    
    if isinstance(df, pd.Series):
        data = df.to_frame().T
    elif isinstance(data, dict):
        data = pd.DataFrame([data])
    
    clean_df = clean_data(data)
    
    try:
        clean_df = clean_df.drop(['is_canceled'], axis = 1)
    except:
        pass
    
    pred = xgb.predict(clean_df)
    
    return pred

In [ ]:
for i in range(1,20):
    
    bookings = pd.read_csv('hotel_bookings.csv')
    sample_bookings = bookings.sample(n=1000)

    predictions = model_inference(sample_bookings.copy())
    actual = clean_data(sample_bookings)['is_canceled']
    print(f'accuracy of run {i}:',(predictions == actual).sum()/len(predictions))

accuracy of run 1: 0.891
accuracy of run 2: 0.9

In [15]:
bookings = pd.read_csv('hotel_bookings.csv')
sample_bookings = bookings.sample(n=1000)

In [16]:
sample_bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
117445,City Hotel,0,192,2017,July,31,30,2,3,2,...,No Deposit,14.0,NaN,0,Transient,162.00,0,0,Check-Out,2017-08-04
12907,Resort Hotel,1,139,2017,July,29,22,2,5,2,...,No Deposit,240.0,NaN,0,Transient,278.57,0,0,Canceled,2017-03-25
86813,City Hotel,0,7,2016,April,15,8,0,1,2,...,No Deposit,NaN,NaN,0,Transient,114.00,0,3,Check-Out,2016-04-09
82880,City Hotel,1,68,2016,February,8,17,0,2,2,...,Non Refund,37.0,NaN,0,Transient,75.00,0,0,Canceled,2016-01-06
84826,City Hotel,0,1,2016,March,10,2,0,2,2,...,No Deposit,NaN,NaN,0,Transient,80.00,0,0,Check-Out,2016-03-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91132,City Hotel,0,256,2016,June,25,15,0,2,2,...,No Deposit,6.0,NaN,0,Transient-Party,115.00,0,1,Check-Out,2016-06-17
5550,Resort Hotel,0,199,2016,May,19,2,1,1,2,...,No Deposit,298.0,NaN,0,Transient-Party,85.00,0,0,Check-Out,2016-05-04
111075,City Hotel,0,125,2017,May,18,3,0,3,2,...,No Deposit,7.0,NaN,0,Transient,133.74,0,1,Check-Out,2017-05-06
24696,Resort Hotel,0,10,2016,May,23,30,1,0,1,...,No Deposit,196.0,NaN,0,Transient,56.00,0,0,Check-Out,2016-05-31
68451,City Hotel,1,115,2017,May,20,18,0,3,2,...,No Deposit,9.0,NaN,0,Transient,135.00,0,0,Canceled,2017-01-31

In [9]:
clean_data(sample)

,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,...,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_Others,continent_South America
0,1,279,10,41,2,5,2,0.0,0,0,...,False,False,False,True,False,True,False,False,False,False
1,0,0,4,17,0,1,1,0.0,0,1,...,False,False,True,False,False,False,False,False,False,False
2,1,175,6,24,0,3,2,0.0,0,0,...,False,False,True,False,False,False,True,False,False,False
3,0,46,3,11,0,1,1,0.0,0,0,...,False,False,False,True,False,True,False,False,False,False
4,0,33,7,30,2,1,2,0.0,0,0,...,False,False,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,41,3,11,1,3,2,2.0,0,0,...,False,False,True,False,False,False,False,False,True,False
996,1,201,6,27,2,8,2,1.0,0,0,...,False,False,True,False,False,True,False,False,False,False
997,0,18,12,51,1,0,2,0.0,0,0,...,False,False,False,True,False,True,False,False,False,False
998,0,3,10,44,0,1,1,0.0,0,0,...,False,False,True,False,False,True,False,False,False,False
999,0,59,1,4,0,2,1,0.0,0,0,...,False,False,True,False,False,True,False,False,False,False